.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}

.main {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cameraContainer {
    width: 100%;
}

.capturedImage {
    margin-top: 1rem;
    max-width: 100%;
    height: auto;
}

.resultsContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start; 
    margin-top: 20px; 
}

.resultsContainer > div {
    flex: 1;
    padding: 10px;
}

.featuresContainer, .itemsContainer {
    width: 48%; /* giving them slightly less than 50% to account for potential padding/margins */
}

/* Adjust if you want spacing between the two columns */
.featuresContainer {
    margin-right: 2%;
}

.itemsContainer {
    margin-left: 2%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between; /* change to space-between for even space distribution */
    align-items: flex-start; /* to align the tops of content within the row */
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.column {
    flex: 1; 
    max-width: 50%;
    padding: 10px; 
}

/* Responsive adjustment for smaller screens */
@media (max-width: 768px) {
    .column, .featuresContainer, .itemsContainer {
        max-width: 100%;
    }
}

