.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f7f7f7;
}

.main {
    width: 90%;
    max-width: 1200px;
    margin: 2rem auto;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cameraContainer {
    width: 100%;
}

.capturedImage {
    margin-top: 1rem;
    max-width: 100%;
    height: auto;
}

.resultsContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    align-items: flex-start; 
    margin-top: 20px; 
}

.resultsContainer > div {
    flex: 1;
    padding: 10px;
}

.featuresContainer, .itemsContainer {
    width: 48%; /* giving them slightly less than 50% to account for potential padding/margins */
}

/* Adjust if you want spacing between the two columns */
.featuresContainer {
    margin-right: 2%;
}

.itemsContainer {
    margin-left: 2%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between; /* change to space-between for even space distribution */
    align-items: flex-start; /* to align the tops of content within the row */
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.column {
    flex: 1; 
    max-width: 50%;
    padding: 10px; 
}

/* Responsive adjustment for smaller screens */
@media (max-width: 768px) {
    .column, .featuresContainer, .itemsContainer {
        max-width: 100%;
    }
}

/* styles/index.module.css */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000; /* Some high value to ensure it's on top of other content */
    background-color: rgba(0,0,0,0.5); /* Semi-transparent black */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .spinner {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #740a66; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  